.stats {
  display: flex;
  gap: 1px;
  justify-content: space-between;
  /* background: rgb(97, 100, 100); */
  border-color: aliceblue;
  /* padding: 5px; */
}
.label {
  display: block;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 5px 20px;
}
.quantity {
  display: block;
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
  padding: 5px 20px;
}
.statistics {
  display: block;
  width: 50vh;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 50px;
  flex-wrap: wrap;
  background: rgb(183, 199, 199);
}
.title {
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
  padding: 5px 20px;
}
.stat-list {
  display: flex;
}
.item {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: calc(100% / 5);
  border: 0.5px solid #b0b0b0;

  border-radius: 5px;
  background-color: rgb(184, 237, 237);
}

.item:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 5px 20px;
  background: rgb(206, 195, 206);
}
.percentage {
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
  padding: 5px 20px;
}
